on: workflow_dispatch

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"
      - run: |
          git clone "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY" .
          ./build-module.sh
      - id: get_output_name
        run: |
          echo ::set-output name=OUTPUT::$(find . -maxdepth 1 -name "revanced-magisk-*.zip" -printf '%P')
          echo ::set-output name=VERSION::$(find . -maxdepth 1 -name "revanced-magisk-*.zip" -printf '%P' | sed -n 's/.*revanced-magisk-\(.*\)\.zip.*/\1/p')
        shell: bash
      - name: Current Date
        id: date
        run: |
          echo "::set-output name=DATE::$(date +'%m-%d')"
          echo "::set-output name=YYYY::$(date +'%4Y')"
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          body: ${{ steps.date.outputs.DATE }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.get_output_name.outputs.OUTPUT }}
          asset_name: ${{ steps.get_output_name.outputs.OUTPUT }}
          release_name: ${{ steps.get_output_name.outputs.OUTPUT }}
          tag: ${{ steps.date.outputs.YYYY }}-${{ steps.get_output_name.outputs.VERSION }}-${{ steps.date.outputs.DATE }}
          overwrite: true
